<!-- Charts Section -->
<div class="pt-3 text-center">
  <h3>Visual Dashboard</h3>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <app-horizontally-stacked-bar-chart></app-horizontally-stacked-bar-chart>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <app-line-chart></app-line-chart>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <app-pie-chart></app-pie-chart>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <app-vertical-bar-chart></app-vertical-bar-chart>
    </div>
  </div>
</div>
