<!-- Filters Section -->
<!--
Filters to be added: 
1. Add start and end year filter in the dashboard ✅
2. Add topics filters in the dashboard ✅
3. Add sector filter in the dashboard ✅
4. Add region filter in the dashboard ✅
5. Add PEST filter in the dashboard ✅
6. Add Source filter in the dashboard ✅
7. Country ✅
8. Add SWOT filter in the dashboard -> TODO
9. City - NOT PROVIDED IN JSON DATA -> TODO
-->
<div class="p-2 pt-3 text-light">
  <h3>Filters</h3>
  <div class="pt-2">
    <!-- Start Year Dropdown -->
    <p-dropdown
      [options]="startYears"
      [styleClass]="'text-light'"
      [style]="{
        width: '220px',
        outline: '0',
        backgroundColor: 'inherit',
        borderColor: '#696969',
      }"
      [(ngModel)]="selectedStartYear"
      optionLabel="name"
      [filter]="true"
      filterBy="name"
      [showClear]="true"
      placeholder="Start Year"
    ></p-dropdown>
  </div>
  <div class="pt-2 mt-1">
    <!-- End Year Dropdown -->
    <p-dropdown
      [options]="endYears"
      [style]="{
        width: '220px',
        backgroundColor: 'inherit',
        borderColor: '#696969',
      }"
      [(ngModel)]="selectedEndYear"
      optionLabel="name"
      [filter]="true"
      filterBy="name"
      [showClear]="true"
      placeholder="End Year"
    ></p-dropdown>
  </div>
  <div class="pt-2 mt-1">
    <!--Topics Dropdown -->
    <p-dropdown
      [options]="topics"
      [style]="{
        width: '220px',
        backgroundColor: 'inherit',
        borderColor: '#696969',
      }"
      [(ngModel)]="selectedTopic"
      optionLabel="name"
      [filter]="true"
      filterBy="name"
      [showClear]="true"
      placeholder="Select a Topic"
    ></p-dropdown>
  </div>
  <div class="pt-2 mt-1">
    <!--Sector Dropdown -->
    <p-dropdown
      [options]="sectors"
      [style]="{
        width: '220px',
        backgroundColor: 'inherit',
        borderColor: '#696969',
      }"
      [(ngModel)]="selectedSector"
      optionLabel="name"
      [filter]="true"
      filterBy="name"
      [showClear]="true"
      placeholder="Select a Sector"
    ></p-dropdown>
  </div>
  <div class="pt-2 mt-1">
    <!--Region Dropdown -->
    <p-dropdown
      [options]="regions"
      [style]="{
        width: '220px',
        backgroundColor: 'inherit',
        borderColor: '#696969',
      }"
      [(ngModel)]="selectedRegion"
      optionLabel="name"
      [filter]="true"
      filterBy="name"
      [showClear]="true"
      placeholder="Select a Region"
    ></p-dropdown>
  </div>
  <div class="pt-2 mt-1">
    <!--PESTLE Dropdown -->
    <p-dropdown
      [options]="pestles"
      [style]="{
        width: '220px',
        backgroundColor: 'inherit',
        borderColor: '#696969',
      }"
      [(ngModel)]="selectedPestle"
      optionLabel="name"
      [filter]="true"
      filterBy="name"
      [showClear]="true"
      placeholder="Select a Pestle"
    ></p-dropdown>
  </div>
  <div class="pt-2 mt-1">
    <!-- Sources Dropdown -->
    <p-dropdown
      [options]="sources"
      [style]="{
        width: '220px',
        backgroundColor: 'inherit',
        borderColor: '#696969',
      }"
      [(ngModel)]="selectedSource"
      optionLabel="name"
      [filter]="true"
      filterBy="name"
      [showClear]="true"
      placeholder="Select a Source"
    ></p-dropdown>
  </div>
  <div class="pt-2 mt-1">
    <!-- Countries Dropdown -->
    <p-dropdown
      [options]="countries"
      [style]="{
        width: '220px',
        backgroundColor: 'inherit',
        borderColor: '#696969',
      }"
      [(ngModel)]="selectedCountry"
      optionLabel="name"
      [filter]="true"
      filterBy="name"
      [showClear]="true"
      placeholder="Select a Country"
    ></p-dropdown>
  </div>
</div>
