<ngx-charts-line-chart
  [view]="view"
  [results]="data"
  [showGridLines]="true"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [legendTitle]="legendTitle"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [showGridLines]="showGridLines"
  [legendPosition]="legendPosition"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
></ngx-charts-line-chart>
<app-loader *ngIf="isLoading"></app-loader>
